.service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 0;
    margin: 0;
    width: 100%;
    background-color: #013450;
    padding: 30px 0px 30px 60px;
    margin: 40px 0 0 0;
    color: white;
}

.service-info-text {
    flex: 1;
    margin-left: 5vw;
}

.service__title {
    color: white;
    color: rgb(224, 224, 224);
    font-size: 30px;
}

.service-map {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background-color: #013450;
    border-radius: 30px 0 0 16px;
}

.service-map img {
    width: 100%;
    max-width: 500px;
}

.service-description {
    font-size: 22px !important;
    max-width: 30vw;
    margin-top: 15px;
}

@media (max-width: 768px) {

    .service-container {
        flex-direction: column;
        padding: 24px 0;
        margin-top: 24px;
        text-align: center;
    }

    .service-info-text {
        margin-left: 0;
        padding: 0 1.5rem;
        width: 100%;
    }

    .service__title {
        font-size: 1.6rem;
        text-align: center;
    }

    .service-description {
        max-width: 100%;
        font-size: 1.1rem !important;
        text-align: justify;
        margin: 12px auto 0 auto;
    }

    .service-map {
        width: 100%;
        margin-top: 24px;
        border-radius: 0;
        justify-content: center;
    }

    .service-map img {
        max-width: 100%;
    }

    .service-map>div {
        width: 100% !important;
        border-radius: 0 !important;
    }
}