.contact__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/backgroundcontato.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;

}

.contact__content {
  flex: 1;
  padding-left: 3rem;
}

.contact__header {
  padding: 20px;
}

.contact__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #01304A;
}

.contact__subtitle {
  font-size: 3rem;
  color: #666;
}

.contact__subtitle_handle {
  font-size: 1.5rem;
  color: #666;
  margin-top: 0.5rem;
}

.contact__button_open {
  margin-top: 2rem;
}

.contact__button_open button {
  background-color: #013450;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.contact__image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact__image img {
  width: 70%;
  max-width: 350px;
}

@media (max-width: 768px) {

  .contact__container {
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    min-height: 150px;
    overflow-x: hidden;
    background: none;
  }

  .contact__content {
    padding: 2rem 1.5rem;
    width: 100%;
    text-align: center;
  }

  .contact__header {
    padding: 0;
  }

  .contact__title {
    font-size: 1.4rem;
  }

  .contact__subtitle {
    font-size: 1rem;
    margin-top: 10px;
  }

  .contact__subtitle_handle {
    font-size: 1rem;
    display: flex;
    text-align: justify;
  }

  .contact__button_open {
    margin-top: 1.5rem;
  }

  .contact__button_open button {
    width: 110%;
    max-width: 150px;
    border-radius: 30px;
  }

  .contact__image {
    display: none;
  }
}