.banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.banner-slide {
  min-width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  display: block;
}

.banner-content {
  position: absolute;
  inset: 0;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content.with-text {
  max-width: 40%;
}

.banner-content.only-button {
  top: 50%;
  transform: translateY(-50%);
}

.banner-content h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: white;
}

.banner-content p {
  font-size: 1.5rem;
  max-width: 85%;
  color: white;
  line-height: 1.4;
  margin-bottom: 25px;
}

.banner-content button {
  border: none;
  font-weight: bold;
  border-radius: 40px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-content button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btn-banner-1 {
  background: white;
  color: rgb(12, 12, 12);
  position: absolute;
  left: 12%;
}

.btn-banner-1-mobile {
  background: white;
  color: black;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-banner-2 {
  background: white;
  border: 2px solid white;
  color: rgb(0, 0, 0);
  align-self: flex-end;
  margin-top: 15%;
  margin-left: 6%;
}


.banner-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 5;
}

.banner-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-dot:hover {
  background: rgba(255, 255, 255, 0.7);
}

.banner-dot.active {
  background: white;
  width: 22px;
  border-radius: 12px;
}


@media (max-width: 768px) {
  .banner-content.with-text {
    max-width: 90%;
    top: 15%;
  }

  .banner-content h1 {
    display: none;
  }

  .banner-content p {
    display: none;
  }

  .btn-banner-1 {
    background: white;
    color: rgb(12, 12, 12);
    position: absolute;
  }

  .btn-banner-1-mobile {
    background: white;
    color: black;
    position: absolute;
    bottom: 10%;
    left: 23%;
    transform: translateX(-50%);
  }

  .btn-banner-2,
  .btn-banner-2-mobile {
    display: none;
  }

}