.stat-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  background-color: white;
  padding: 40px 0;
  box-sizing: border-box;
}

.stat-card {
  background-color: #01304A;
  color: white;
  width: 205px;
  height: 185px;
  border-radius: 12px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.stat-card p {
  font-size: 18px;
  margin-top: 10px;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .stat-card-container {
    gap: 20px;
  }

  .stat-card {
    width: 185px;
    height: 165px;
  }

  .stat-card p {
    font-size: 15px;
  }

  .stat-card h2 {
    font-size: 18px;
  }

  .stat-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
}